HONGGUO_SIGNER_MUMU_HOME=D:\MuMu Player 12
HONGGUO_SIGNER_VMINDEX=0
HONGGUO_SIGNER_PACKAGE_NAME=com.phoenix.read
HONGGUO_SIGNER_FRIDA_HOST=127.0.0.1
HONGGUO_SIGNER_FRIDA_PORT=27042
HONGGUO_SIGNER_FRIDA_SERVER_PATH=D:\Codex\hongguo-video\services\signer-service\bin\frida-server-16.7.19-android-x86_64
HONGGUO_SIGNER_FRIDA_REMOTE_PATH=/data/local/tmp/frida-server
HONGGUO_SIGNER_WATCHDOG_INTERVAL=15
HONGGUO_SIGNER_SERVICE_TOKEN=local-development
